:root {
  --soviet-red: #af002a;
  --accent-yellow: #ffd50fff;
  --black-bg: rgb(36, 33, 33);
  --placeholder-color: #6c757d;
  --font-heading: "Teko", sans-serif;
  --font-body: "Comfortaa", sans-serif;
  --spacing-sm: 16px;
  --spacing-md: 34px;
  --spacing-lg: 50px;
}

/*GENERAL*/
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}

.icon {
  width: 25px;
  height: auto;
}
.icon:hover {
  cursor: pointer;
}

.container > .header,
.subheader,
.dashboard {
  font-family: var(--font-body);
  font-weight: 300;
  font-size: 1.1rem;
}

button {
  padding: calc(var(--spacing-sm) / 2) var(--spacing-md);
  letter-spacing: 2.2px;
  border-radius: 18px;
  color: white;
  font-weight: bold;
  border: none;
  background-color: var(--soviet-red);
  transition: 0.3s ease;
}
button:hover {
  cursor: pointer;
}

.card {
  background-color: whitesmoke;
  padding: var(--spacing-sm) var(--spacing-sm);
}

/*GRID LAYOUT*/
.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 0.6fr 0.6fr 4fr;
  grid-template-areas:
    "dashboard header"
    "dashboard subheader"
    "dashboard content"
    "dashboard content";
  gap: var(--spacing-sm);
  padding: 0 calc(var(--spacing-lg)) 0 0;
  overflow: hidden;
}

.header {
  grid-area: header;
}

.subheader {
  grid-area: subheader;
}

.dashboard {
  grid-area: dashboard;
  background-color: var(--black-bg);
  color: white;
}

.main-content {
  grid-area: content;
}

/*HEADER*/
.header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-top: var(--spacing-sm);
  position: relative;
}

.header .search {
  display: flex;
  justify-content: start;
  align-items: center;
}

.header .search > .icon {
  padding-right: var(--spacing-sm);
}

.header .search input {
  flex-basis: 80%;
  height: auto;
  border-radius: var(--spacing-sm);
  border: none;
  background-color: #e5e4e2;
}
input[type="text"]:focus {
  outline: 1px solid black;
}

/*HEADER-COLUMN-2*/
.header ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.header ul:last-child {
  text-align: center;
}

/*SUBHEADER */
.subheader {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.subheader::after {
  content: "";
  width: 100%;
  height: 5%;
  position: absolute;
  top: 150px;
  left: 0;
  z-index: -2;
  box-shadow: 1px 10px 9px 0px rgba(0, 0, 0, 0.41);
  -webkit-box-shadow: 1px 10px 9px 0px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 1px 10px 9px 0px rgba(0, 0, 0, 0.41);
}

.subheader ul {
  justify-self: start;
  display: grid;
  grid-template-columns: 0.15fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.subheader .subheader-first-li {
  grid-row: 1/-1;
  place-self: center start;
}

.subheader .subheader-bttns {
  justify-self: end;
  align-self: center;
}

.sub-bttn {
  margin-right: var(--spacing-md);
}

/*DASHBOARD*/
.dashboard {
  display: grid;
  grid-template-rows: 0.15fr 0.5fr 1fr;
  gap: 25px;
  padding: var(--spacing-sm) var(--spacing-sm) 0 var(--spacing-sm);
}

.dashboard .heading {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
}

.dash-img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(116deg)
    brightness(103%) contrast(102%);
  padding-right: calc(var(--spacing-sm) / 2);
}

.dashboard-links:hover {
  cursor: pointer;
  text-decoration: underline;
}

.dashboard ul li {
  padding: var(--spacing-sm);
  display: flex;
  align-items: end;
}

.dashboard h2 {
  margin: 0;
}

/*MAIN CONTENT*/
.main-content {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px 20px;
  padding-top: var(--spacing-lg);
}

.cards-container {
  grid-row: 1/3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}

.trending {
  grid-column: 2/3;
}
